<!--MAIN-FRAME-->
<div id="_confirm_use_contacts_view" class="_confirm_use_contacts_view LyMain" role="main">

    <section>
        <ul class="MdMN15List">
            <li><div class="mdMN15Tbl01">
                <div class="mdMN15Cell"><%= AUTO_ADD_FRIENDS %></div>
                <div class="mdMN15Cell"><div class="MdMN13Switch">
                    <select name="">
                        <option value="on">on</option>
                        <option value="off">off</option>
                    </select>
                    <div class="mdMN13Box mdMN13IsOn _auto_add_friend_switch" data-value="true">
                        <span class="mdMN13Slider"></span>
                        <span class="mdMN13L">On</span>
                        <span class="mdMN13R">Off</span>
                    </div>
                    <!--/MdMN13Switch--></div>

                </div>
            </div></li>

            <!--/MdMN15List--></ul>

        <p class="MdTxt01 mdTxt01Setting"><%= AUTO_ADD_SETTING_DESCRIPTION %></p>
    </section>

    <section>
        <div class="MdMN16Terms _resize_overflow" style="max-height:245px;">
            <p class="mdMN16Desc"><%= REGISTER_AUTO_ADD_FRIENDS_DETAIL_1 %></p>
            <p class="mdMN16Desc"><%= REGISTER_AUTO_ADD_FRIENDS_DETAIL_2 %></p>
            <p class="mdMN16Desc"><%= REGISTER_AUTO_ADD_FRIENDS_DETAIL_3 %></p>
            <p class="mdMN16Desc"><%= REGISTER_AUTO_ADD_FRIENDS_DETAIL_4 %></p>

            <!--/MdMN16Terms--></div>
    </section>

    <section>
        <ul class="MdMN15List">
            <li><div class="mdMN15Tbl01">
                <div class="mdMN15Cell"><%= ALLOW_OTHERS_TO_ADD %></div>
                <div class="mdMN15Cell"><div class="MdMN13Switch">
                    <select name="" id="">
                        <option value="on">on</option>
                        <option value="off">off</option>
                    </select>
                    <div class="mdMN13Box mdMN13IsOn _allow_others_to_add_switch" data-value="true">
                        <span class="mdMN13Slider"></span>
                        <span class="mdMN13L">On</span>
                        <span class="mdMN13R">Off</span>
                    </div>
                    <!--/MdMN13Switch--></div>

                </div>
            </div></li>

            <!--/MdMN15List--></ul>

        <p class="MdTxt01 mdTxt01Setting"><%= ALLOW_OTHERS_TO_ADD_DESCRIPTION %></p>
    </section>

    <section>
        <div class="MdMN16Terms _resize_overflow" style="max-height:245px;">
            <p class="mdMN16Desc"><%= REGISTER_ALLOW_OTHERS_DESC %></p>
            <p class="mdMN16Desc"><%= REGISTER_ALLOW_OTHERS_DETAIL_1 %></p>
            <p class="mdMN16Desc"><%= REGISTER_ALLOW_OTHERS_DETAIL_2 %></p>
            <!--/MdMN16Terms--></div>
    </section>


    <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
        <li><a class="MdBtn01 _confirm_btn" data-pressed-class="ExTap" href="#"><%= NEXT %></a></li>
    </ul><!--/MdMN09BtnSet--></div>

    <!--/LyMain--></div>
<!--/MAIN-FRAME-->