<!--MAIN-FRAME-->
<div id="_email_login_view" class="LyMain _email_login_view" role="main">

        <section>
            <ul class="MdMN15List">
                <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="text" class="_email_text" placeholder="<%= EMAIL %>" value=""></div></div></li>
                <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="password" class="_password_text" placeholder="<%= PASSWORD %>" value=""></div></div></li>

                <!--/MdMN15List--></ul>

        </section>

        <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
            <li><a class="MdBtn01 ExDisabled _register_btn" data-disabled-class="ExDisabled" data-pressed-class="ExTap" href="#"><%= CONFIRM %></a></li>
            <li><a class="MdBtn03 _not_registered_btn"  data-pressed-class="ExTap" href="#"><%= NOT_REGISTERED %></a></li>
        </ul><!--/MdMN09BtnSet--></div>


        <p class="MdTxt01 _forgot_password_btn"><span class="MdIcoKey"></span><a href="#"><%= FORGOT_YOUR_PASSWORD %></a></p>
<!--/LyMain--></div>



<!--LAYER-AREA-->
<div class="MdOverlay _reset_md_overlay MdNonDisp" style=""></div><div class="MdLYR03Box _center_box _reset_md MdNonDisp" style="top: 20px;">
    <p class="mdLYR03Desc"><%= RESET_MAIL_SEND_MESSAGE %></p>
    <div class="mdLYR03Form"><input type="text" class="mdLYR03Input ExPlaceholder _reset_email_text" placeholder="<%= EMAIL %>" value=""></div>
    <div class="MdMN09BtnSet mdMN09Row"><ul class="mdMN09Ul">
        <li><a class="MdBtn03 _cancel_reset_password_btn" data-pressed-class="ExTap"  href="#"><%= CANCEL %></a></li>
        <li><a class="MdBtn01 ExDisabled _reset_password_btn" data-disabled-class="ExDisabled" data-pressed-class="ExTap"  href="#"><%= CONFIRM %></a></li>
    </ul><!--/MdMN09BtnSet--></div>

    <!--/MdLYR03Box--></div>


