<!--MAIN-FRAME-->
<div id="_input_profile_view" class="_input_profile_view LyMain" role="main">

    <section class="MdProfile">
        <div class="MdMN18ImgSet mdMN18Edit">
            <div class="mdMN18Inner">
                <div class="mdMN18Thumb">
                    <div class="mdMN18ThumbInner _profile_image">
                        <img src="/res/img/noimg/profile_img90x90.png" alt="UserName" height="90" width="90">
                        <div class="MdIcoUpload">Upload</div>
                    </div><!--/mdMN18Thumb--></div>
                <div class="mdMN18Txt _touch_input_text_area">
                    <h2 class="mdMN18Head"><input type="text" class="_display_name_text ExPlaceholder" placeholder="<%= ENTER_YOUR_NAME %>" value="{{displayName}}"></h2>
                    <p class="MdTxtCount _min_max_str">0/20</p>
                    <!--/mdMN18Txt--></div>
            </div>
            <!--/MdMN18ImgSet--></div>

        <p class="MdTxt01"><%= ENTER_NAME_AND_PICTURE_INFO_TEXT %></p>
    </section>

    <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
        <li><a class="MdBtn01 _confirm_btn ExDisabled"  data-pressed-class="ExTap" data-disabled-class="ExDisabled" href="#"><%= REGISTER %></a></li>
    </ul><!--/MdMN09BtnSet--></div>



    <p class="MdTxt01"><%= ENTER_NAME_AND_PICTURE_INFO_TEXT2 %></p>

    <!--/LyMain--></div>
<!--/MAIN-FRAME-->