<div id="_new_line_view" class="LyMain _new_line_view" role="main">

        <section class="MdMN04Empty mdMN04Type01 _content_center" style="">
            <div class="mdMN04Img"><img src="/res/img/MdMN/img_mdMN04Regist_01.png" width="194" height="135"></div><h2 class="mdMN04Ttl"><%= FIRST_MESSAGE_TITLE %></h2>
            <p class="mdMN04Desc"><%= FIRST_MESSAGE_TEXT %></p>
            <!--/MdMN04Empty--></section>


        <div class="mdBox01Foot _content_ignore">
            <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
                <li><a class="MdBtn01 _register_new_btn" data-pressed-class="ExTap" href="#"><%= REGSITER_NEW_JOIN %></a></li>
                <li><a class="MdBtn03 _already_registered_btn" data-pressed-class="ExTap" href="#"><%= REGISTER_ALREADY_JOIN %></a></li>
            </ul><!--/MdMN09BtnSet--></div>

        </div>

    <!--/LyMain--></div>