<div id="_register_view" class="_register_view _reg_form_groups">
    <center>
    <div class="text-center" style="text-align:center;margin-top:25px;">
        <select name="" id="_country_list" style="width:85%;"></select>
        <input type="text" id="phone_number" class="input-sm" value="01000000001"/>
        <input type="button" id="_request_join_thrift" class="btn btn-default btn-sm" value="가입"/>
        <div id="mid_log" style="font-size:15px;padding:5px;color:#FF0088"></div>
    </div>
    </center>
</div>