<li data-countryCode="{{countryCode}}" data-pressed-class="ExTap"><div class="mdMN15Tbl01">

    <div class="mdMN15Cell">{{countryName}}</div>
    <div class="mdMN15Cell">+{{countryNo}}<span class="MdIcoRadio01 _radio {{#selected}}ExSelected{{/selected}}"><input type="radio"  value="{{countryNo}}" data-country-code="{{countryCode}}"></span></div>

</div></li>