<li data-mid="{{mid}}" class="mdMN02Li" data-pressed-class="ExTap">
    <div class="MdMN03Item mdMN03Friend">
        <div class="mdMN03Thumb">
            <img src="/res/img/noimg/profile_img56x56.png" data-src="{{thumbnail}}" alt="{{printName}}" width="56" height="56">
        </div>
        <div class="mdMN03Txt">
            <h3 class="mdMN03Head">
                <span class="mdMN03HeadTtl">{{printName}}</span>
            </h3>
            <p class="mdMN03Desc">{{statusMessage}}</p>
        </div>
        <!--/MdMN03Item-->
    </div>
</li>