<div role="dialog" data-type="action" class="wrap_group_context_menu">
    <header>{{name}}</header> <!-- this header is optional -->
    <menu type="toolbar">
        <button data-action="chat-{{id}}"><%= CHAT %></button>
        <button data-action="leave-{{id}}"><%= LEAVE %></button>
        <button data-action="detail-{{id}}"><%= GROUP_INFO %></button>
        <button data-action="cancel-{{id}}"><%= CANCEL %></button>
    </menu>
</div>