<div class="MdScroll01"><div class="mdScroll01Inner">
    <section class="MdList01">
        <h2 class="MdHide"></h2>
        <div class="MdMN02List mdMN02Edit">
            <ul id="_chat_edit_list_body" class="mdMN02Ul">
            </ul>
        </div>
    </section>
</div></div>


<div class="LyBtm">
    <div class="MdBTM01ActBar"><a class="_chat_edit_list_acbar_btn MdBtn02 ExDisabled" href="#" data-disabled-class="ExDisabled" data-pressed-class="ExTap"><%=REMOVE%><span class="_checked_count" data-show-class="MdIcoNum02"></span></a>
    </div>
</div>