<!-- add & block 버튼 자리-->
<div class="MdScroll01"><div class="mdScroll01Inner">
    <section id="_chat_room_msg_list" class="MdMN11ChatCnt">
        <!-- 경고 문구 자리 -->
        <!-- 안읽은 메세지 위치 표시 자리 -->
        <!-- 날짜 구분선 표시 자리 -->
        <!-- 메세지 표시 자리 -->
    </section>
</div></div>

<div class="LyBtm">
    <div class="MdBTM02Talk">
        <div class="mdBTM02Form">
            <div class="mdBTM02Add" data-pressed-class="ExTap" id="_chat_room_plus_btn"><input type="button" value="Message Option"></div>
            <div class="mdBTM02Sticker" data-pressed-class="ExTap"><input id="_chat_room_sticker" type="button" value="Sticker"></div>
            <div class="mdBTM02Input ExPlaceholder">
                <textarea id="_chat_room_input" rows="1" placeholder="" ></textarea>
                <input type="submit" id="_chat_room_send_btn" class="mdBTM02Send ExDisabled" value="Send">
            </div>
        </div>
    </div>
</div>

<div class="MdLYR05UserList MdNonDisp _wrap_group_member">
    <a class="mdLYR05Link" href="#" id="_wrap_group_member_list">

    </a><!--/MdLYR05UserList-->
</div>

<div class="_curtainLayer MdOverlay MdNonDisp" style="height:500px"></div>

<div class="_sticker_layer MdLYR01Sticker MdNonDisp" style="top: 0;">
    <div class="mdLYR01Nav">
        <div class="mdLYR01NavWrapper">
            <div class="mdLYR01NavScroller">
                <ul class="_sticker_layer_header mdLYR01NavUl">

                    <!--li class="ExSelected"><button><img src="/line_ffo/img/@dummy/ico_sticker_03_selected.png" alt="Brown"></button></li-->

                </ul>
            </div>
        </div>
    </div>

    <div class="mdLYR01Cont">
        <div class="mdLYR01ContScroller" style="height: 180px;"><div class="mdLYR01ContScrollerInner">
            <ul class="_sticker_layer_body mdLYR01ContUl">
                <!--li class="ExTap"><img src="http://uit.navercorp.jp:10081/common/d/d.php?s=54x50" alt=""></li-->

            </ul>
            </ul>
        </div></div>
    </div>
</div>