<li data-chatId="{{chatId}}" class="mdMN02Li" data-pressed-class="ExTap">
    <div class="MdMN03Item mdMN03Group">
        <div class="mdMN03Input"><span class="MdIcoCheck01"><input type="checkbox" value="{{chatId}}"></span></div>
        <div class="mdMN03Thumb">
            <img src="{{thumbnail}}" data-url="{{thumbnail}}" alt="photo" width="56" height="56">
        </div>
    <div class="mdMN03Txt">
        <h3 class="mdMN03Head">
            <span class="mdMN03HeadTtl">{{dpName}}</span>
            <span class="MdIcoNum01 {{^memberCount}}MdNonDisp{{/memberCount}}">{{memberCount}}</span>
        </h3>
        <p class="mdMN03Desc">{{lastMessage}}</p></div>

    </div>
</li>