<section class="MdList01">
    <h2 class="MdMN01Head">Group Invitation {{groupCount}}</h2>
    <div class="MdMN02List mdMN02Act">
        <ul id="_group_list_body" class="mdMN02Ul"></ul>
    </div>
</section>