<ul class="MdMN15List">
    <li><a class="mdMN15Tbl01 _btn_delete_all_chat" href="#" data-chat-id="{{chatId}}"><div class="mdMN15Cell"><%= DELETE_CHAT_HISTORY %></div></a></li>
    <!--/MdMN15List-->
</ul>