<!--MAIN-FRAME-->
<div class="LyMain _delete_account_view" role="main">

    <section class="MdMN04Empty mdMN04Type03 _content_center" style="">
        <div class="mdMN04Img"><img src="/res/img/MdMN/img_mdMN04Delete_01.png" height="154"></div><p class="mdMN04Desc"><%= DELETE_ACCOUNT_WARNING_TEXT %></p><div class="mdMN04Btn"><a data-pressed-class="ExTap" class="MdBtn02 _delete_account_btn" href="#"><%= DELETE_ACCOUNT %></a></div><!--/MdMN04Empty--></section>

    <!--/LyMain--></div>