
<!--MAIN-FRAME-->
<div id="_email_change_password_view" class="_email_change_password_view LyMain" role="main">

    <section>
        <dl class="MdMN14List">
            <dt><%= CURRENT_PASSWORD %></dt>
            <dd>
                <ul class="MdMN15List">
                    <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="text" class="_email_old_password_text" placeholder="<%= PASSWORD %>" value=""></div></div></li>

                    <!--/MdMN15List--></ul>

            </dd>
            <!--/MdMN14List--></dl>

        <dl class="MdMN14List">
            <dt><%= NEW_PASSWORD %><span class="MdTxtCount _password_count">0/20</span></dt>
            <dd>
                <ul class="MdMN15List mdMN15Part">
                    <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="text" class="_email_password_text" placeholder="<%= PASSWORD %>" value=""></div></div></li>
                    <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="text" class="_email_re_password_text" placeholder="<%= RE-CONFIRM_PASSWORD %>" value=""></div></div></li>

                    <!--/MdMN15List--></ul>

            </dd>
            <!--/MdMN14List--></dl>
    </section>

    <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
        <li><a class="MdBtn03 _confirm_btn ExDisabled" data-pressed-class="ExTap" data-disabled-class="ExDisabled" href="#"><%= CONFIRM %></a></li>
    </ul><!--/MdMN09BtnSet--></div>

    <!--/LyMain--></div>
<!--/MAIN-FRAME-->