<!--MAIN-FRAME-->
<div class="_email_change_success LyMain" role="main">

    <div class="MdMN17Notice">
        <p class="mdMN17Email">{{email}}</p>
        <p class="mdMN17Desc"><%= EMAIL_IS_REGISTERED %></p>
        <!--/MdMN17Notice--></div>

    <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
        <li><a class="MdBtn01 _confirm_btn" href="#" data-pressed-class="ExTap"><%= CONFIRM %></a></li>
    </ul><!--/MdMN09BtnSet--></div>


    <!--/LyMain--></div>
<!--/MAIN-FRAME-->