<!--MAIN-FRAME-->
<div class="_change_email_container LyMain" role="main">

    <section>
        <ul class="MdMN15List">
            <li data-pressed-class="ExTap" data-name="change_email"><a class="mdMN15Tbl01" href="#">
                <div class="mdMN15Cell"><%= CHANGE_EMAIL %><br><em class="mdMN15Link">{{email}}</em></div>
            </a></li>
            <!--/MdMN15List--></ul>

        <ul class="MdMN15List">
            <li data-pressed-class="ExTap" data-name="change_password"><a class="mdMN15Tbl01" href="#">
                <div class="mdMN15Cell"><%= CHANGE_PASSWORD %></div>
            </a></li>
            <!--/MdMN15List--></ul>
    </section>

    <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
        <li data-name="cancel_registration"><a class="MdBtn03" data-pressed-class="ExTap" href="#"><%= UNREGISTER_EMAIL %></a></li>
    </ul><!--/MdMN09BtnSet--></div>


    <!--/LyMain--></div>
<!--/MAIN-FRAME-->