<!--MAIN-FRAME-->
<div class="LyMain" role="main">

    <p class="MdTxt01 mdTxt01Setting"><%= USER_REMOVE_HIDDEN_DESC %></p>

    <div class="MdScroll01"><div class="mdScroll01Inner">

        <section class="MdList01">
            <h2 class="MdHide">Member List</h2>
            <div class="MdMN02List mdMN02Act"><ul class="mdMN02Ul _hidden_list">


            </ul><!--/MdMN02List--></div>

        </section>

    </div><!--/MdScroll01--></div>

    <!--/LyMain--></div>
<!--/MAIN-FRAME-->