<div class="LyMain" role="main">

    <div class="MdForm01">
        <div class="MdMN05Search mdMN05Link" role="search">
            <a class="mdMN05Input _btn_search_by_id" href="#"><%= SEARCH_FRIEND_BY_ID %></a>

            <!--/MdMN05Search--></div>
    </div>

    <div class="MdScroll01">
        <div class="mdScroll01Inner">
            <section class="MdList01 MdNonDisp _wrap_friends_recommendations_list">
                <h2 class="MdMN01Head"><%= FRIEND_RECOMMENDATION %> <span class="_friends_recommendations_count">0</span></h2>
                <div class="MdMN02List">
                    <ul class="mdMN02Ul _friends_recommendations_list">

                    </ul>
                    <!--/MdMN02List-->
                </div>

            </section>
            <section class="MdNonDisp _wrap_friends_empty_txt MdBox01">
                <h2 class="MdTxtNotice MdAC"><%= NO_USER_ADDED_ME %></h2>
            </section>

        </div>
        <!--/MdScroll01--></div>

    <!--/LyMain--></div>