<div role="dialog" data-type="action" class="wrap_recommend_context_menu">
    <header>{{displayNameOverridden}}{{^displayNameOverridden}}{{displayName}}{{/displayNameOverridden}}</header> <!-- this header is optional -->
    <menu type="toolbar">
        <button data-action="block-{{mid}}"><%= BLOCK %></button>
        <button data-action="add-{{mid}}"><%= ADD %></button>
        <button data-action="cancel-{{mid}}"><%= CANCEL %></button>
    </menu>
</div>