<form role="dialog" data-type="confirm" class="_confirm_ui">
    <section>
        <h1><%= TITLE_CONFIRM %></h1>
        <p>{{{message}}}</p>
    </section>
    <menu>
        <button class="_btn_left {{button.left.class}}">{{button.left.label}}</button>
        <button class="_btn_right {{button.right.class}}">{{button.right.label}}</button>
    </menu>
</form>