
<!--MAIN-FRAME-->
<div class="_confirm_same_device_view LyMain" role="main">

    <section class="MdMN04Empty mdMN04Type02 _content_center">
        <div class="mdMN04Img"><img src="/res/img/MdMN/img_mdMN04Reset_01.png" width="135" height="113"></div>
        <h2 class="mdMN04Ttl"><%= REGISTER_NOTICE_ALREADY_ACCOUNT %></h2>
        <p class="mdMN04Desc"><%= REGISTER_NOTICE_ALREADY_ACCOUNT_DESC %></p>
        <h2 class="mdMN04Ttl"><%= REGISTER_NOTICE_NEW_ACCOUNT %></h2>
        <p class="mdMN04Desc"><%= REGISTER_NOTICE_NEW_ACCOUNT_DESC %></p>
        <!--/MdMN04Empty--></section>

    <div class="MdMN09BtnSet mdMN09Col _content_ignore"><ul class="mdMN09Ul">
        <li><a class="MdBtn01 MdBtnFS14 _new_user_btn" data-pressed-class="ExTap" href="#"><%= NEW_NUMBER %></a></li>
        <li><a class="MdBtn03 MdBtnFS14 _another_device_btn" data-pressed-class="ExTap" href="#"><%= ANOTHER_DEVICE %></a></li>
    </ul><!--/MdMN09BtnSet--></div>


    <!--/LyMain--></div>
<!--/MAIN-FRAME-->
