<!--MAIN-FRAME-->
<div id="_email_register_view" class="_email_register_view LyMain" role="main">

    <div class="MdMN17Notice mdMN17Type01">
        <p class="mdMN17Desc"><%= RECOMMEND_EMAIL_REGISTRATION_TITLE_TEXT %></p>
        <!--/MdMN17Notice--></div>

    <section>
        <dl class="MdMN14List">
            <dt><%= EMAIL %></dt>
            <dd>
                <ul class="MdMN15List">
                    <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="text" name="" class="_email_login_text" placeholder="<%= EMAIL %>" value=""></div></div></li>

                    <!--/MdMN15List--></ul>

            </dd>
            <!--/MdMN14List--></dl>

        <dl class="MdMN14List">
            <dt><%= PASSWORD %><span class="MdTxtCount _password_count">0/20</span></dt>
            <dd>
                <ul class="MdMN15List mdMN15Part">
                    <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="text" name="" class="_email_password_text" placeholder="<%= PASSWORD %>" value=""></div></div></li>
                    <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="text" name="" class="_email_re_password_text" placeholder="<%= RE-CONFIRM_PASSWORD %>" value=""></div></div></li>

                    <!--/MdMN15List--></ul>

            </dd>
            <!--/MdMN14List--></dl>
    </section>

    <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
        <li><a class="MdBtn01 ExDisabled _confirm_btn" data-disabled-class="ExDisabled" data-pressed-class="ExTap" href="#"><%= REGISTER_EMAIL %></a></li>
        <li><a class="MdBtn03 _cancel_btn" data-pressed-class="ExTap"  href="#"><%= REGISTER_EMAIL_LATER %></a></li>
    </ul><!--/MdMN09BtnSet--></div>

    <!--/LyMain--></div>
<!--/MAIN-FRAME-->