<div id="_input_phone_view" class="_input_phone_view LyMain" role="main">

    <section>
        <ul class="MdMN15List">
            <li><a class="mdMN15Select" id="_country_select" href="#"><div class="mdMN15Tbl01"><div class="mdMN15Cell _region_str" style="width:290px;">{{regionStr}}</div></div></a></li>
            <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="tel" name="" id="_input_phone_text" placeholder="<%= PHONE_NUMBER %>" value="{{phoneNumber}}"></div></div></li>
            <!--/MdMN15List--></ul>

    </section>

    <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
        <li><a class="MdBtn01 ExDisabled" data-disabled-class="ExDisabled" data-pressed-class="ExTap" id="_verify_phone_btn" href="#"><%= VERIFY_PHONE_NUMBER %></a></li>
    </ul><!--/MdMN09BtnSet--></div>

    <p class="MdTxt01"><%= VERIFY_PHONE_NUMBER_DESCRIPTION %></p>

    <!--/LyMain--></div>