<div class="LyMain" role="main">

    <div class="MdMN17Notice mdMN17Type01">
        <p class="mdMN17Desc"><%= MULTIDEVICE_DESTOP_LOGIN_DESC %></p>
        <!--/MdMN17Notice--></div>

    <section>
        <ul class="MdMN15List">
            <li><div class="mdMN15Tbl01"><div class="mdMN15Cell mdMN15Input ExPlaceholder"><input type="number" name="_input_desktop_picode" id="_input_desktop_picode" placeholder="<%= ENTER_VERIFICATION_CODE %>" value=""></div></div></li>

            <!--/MdMN15List--></ul>

    </section>
    <div class="MdMN09BtnSet mdMN09Col"><ul class="mdMN09Ul">
        <li><a class="MdBtn01 ExDisabled" id="_btn_pincode_ok" href="#" data-pressed-class="ExTap" data-disabled-class="ExDisabled"><%= CONFIRM %></a></li>
    </ul><!--/MdMN09BtnSet--></div>


    <!--/LyMain--></div>