<div class="MdScroll01" id="_chat_list_ui" style="position:relative;">
    <section class="_group_list_section MdList01 MdNonDisp">
        <h2 class="MdMN01Head"><%=GROUP_INVITATIONS%></h2>
        <div class="MdMN02List mdMN02Act">
            <ul id="_group_list_body" class="mdMN02Ul"></ul>
        </div>
    </section>

    <section class="_chat_list_section MdList01 MdNonDisp">
        <h2 class="MdMN01Head"><%=TAP_NAME_CHATS%></h2>
        <div class="MdMN02List mdMN02Act">
            <ul id="_chat_list_body" class="mdMN02Ul _surf _area"></ul>
        </div>
    </section>

    <section class="_empty_list_section MdMN04Empty MdNonDisp">
        <div class="mdMN04Img"><img src="/res/img/MdMN/img_mdMN04Empty_03.png" width="170" height="117"></div>
        <h2 class="mdMN04Ttl"><%=BLANK_CHATS_LIST_CASE_NO_CHATS_TITLE%></h2>
        <p class="mdMN04Desc"><%=BLANK_CHATS_LIST_CASE_NO_CHATS_TEXT%></p>
        <div class="mdMN04Btn"><a class="_chat_list_start_chat MdBtn01" href="#"><%=BEGIN_CHAT%></a></div>
    </section>

</div>