<section class="MdList01">
    <h2 class="MdMN01Head">Chat List</h2>
    <div class="MdMN02List mdMN02Act">
        <ul id="_chat_list_body" class="mdMN02Ul _surf"></ul>
        <div class="_area" style="position:absolute;width:100%;z-index:-1"></div>
    </div>
</section>