<div class="MdMN12ChatItem {{#CT_isMine}}mdMN12Own{{/CT_isMine}}{{^CT_isMine}}mdMN12Others{{/CT_isMine}}" id="_chat_item_{{localId}}" data-local-id="{{localId}}">
    <div class="mdMN12ChatItemInner">
        {{^CT_isMine}}<div class="mdMN12Thumb"><img src="{{CT_thumbnail}}" width="56" height="56" alt="{{CT_displayName}}"></div>{{/CT_isMine}}

        {{#CT_isMine}}
            <div class="mdMN12Txt">
                <div class="mdMN12TxtInner">

                    <div class="mdMN12Option">
                        <p class="mdMN12Read {{^CT_read}}MdNonDisp{{/CT_read}}" id="_chat_room_msg_read_{{localId}}">{{CT_readText}}</p>


                        <p class="mdMN12Time" id="_chat_room_msg_{{localId}}">
                            {{#CT_isSending}}<!--span class="MdIcoSending">sending</span--><time datetime="{{CT_date}}">{{CT_date}}</time>{{/CT_isSending}}
                            {{#CT_isSent}}<time datetime="{{CT_date}}">{{CT_date}}</time>{{/CT_isSent}}
                        </p>


                        <p class="MdIcoFailure02 _failure_btn {{^CT_isFail}}MdNonDisp{{/CT_isFail}}" id="_fail_btn_{{localId}}" data-message-type="image" data-local-id="{{localId}}"><a href="#">Failure</a></p>
                        <!--<a class="MdIcoCancel01" href="#">Cancel</a>-->
                        <p class="mdMN12Progress MdNonDisp" id="_chat_room_upload_{{localId}}"><span class="mdMN12Meter"><span class="_upload_meter" style="width: {{percentage}}%">{{CT_Percentage}}%</span></span></p>
                    </div>

                    {{#CT_isContentPreview}}
                        <!--<p class="mdMN12Msg mdMN12Img _open_image_viewer" data-oid="{{oid}}" data-url="{{CT_imageUrl}}"><a href="#"><img class="_lazy_chat_image" data-local-id="{{localId}}" data-oid="{{oid}}" id="_chat_room_msg_img_{{localId}}" data-src="{{CT_imageUrl}}" data-loaded="true" src="{{CT_contentPreview}}"></a></p>-->
                    {{/CT_isContentPreview}}

                    {{^CT_isContentPreview}}
                    {{/CT_isContentPreview}}
                    <p class="mdMN12Msg mdMN12Img _open_image_viewer" data-oid="{{oid}}" data-url="{{CT_imageUrl}}"><a href="#"><img class="_lazy_chat_image" data-local-id="{{localId}}" data-oid="{{oid}}" id="_chat_room_msg_img_{{localId}}" data-src="{{CT_imageUrl}}" data-loaded="false" src="/res/img/img_error.png"></a></p>

                </div>
            </div>
        {{/CT_isMine}}

        {{^CT_isMine}}
            <div class="mdMN12Txt">
                <p class="mdMN12Name">{{CT_displayName}}</p>
                <div class="mdMN12TxtInner">

                    {{#CT_isContentPreview}}
                        <!--<p class="mdMN12Msg mdMN12Img _open_image_viewer" data-oid="{{oid}}" data-url="{{CT_imageUrl}}"><a href="#"><img class="_lazy_chat_image" data-local-id="{{localId}}" data-oid="{{oid}}" id="_chat_room_msg_img_{{localId}}" data-src="{{CT_imageUrl}}" data-loaded="true" src="{{CT_contentPreview}}"></a></p>-->
                    {{/CT_isContentPreview}}

                    {{^CT_isContentPreview}}
                    {{/CT_isContentPreview}}
                    <p class="mdMN12Msg mdMN12Img _open_image_viewer" data-oid="{{oid}}" data-url="{{CT_imageUrl}}"><a href="#"><img class="_lazy_chat_image" data-local-id="{{localId}}" data-oid="{{oid}}" id="_chat_room_msg_img_{{localId}}" data-src="{{CT_imageUrl}}" data-loaded="false" src="/res/img/img_error.png"></a></p>


                    <div class="mdMN12Option">
                        <p class="mdMN12Time"><time datetime="{{CT_date}}">{{CT_date}}</time></p>
                    </div>
                </div>
            </div>
        {{/CT_isMine}}

    </div>
</div>




