<li data-id="{{id}}" class="mdMN02Li">
    <div class="MdMN03Item mdMN03Friend">
        <div class="mdMN03Thumb">
            <img src="/res/img/noimg/profile_img56x56.png" data-src="{{thumbnail}}" alt="{{printName}}" width="56" height="56">
        </div>
        <div class="mdMN03Txt">
            <h3 class="mdMN03Head">
                <span class="mdMN03HeadTtl">{{printName}}</span>
            </h3>
            <p class="mdMN03Desc">{{statusMessage}}</p>
        </div>
        <div class="mdMN03Act">
            <input type="button" class="MdBtn04S _btn_remove" value="<%= REMOVE %>" data-pressed-class="ExTap" data-mid="{{mid}}">
        </div>
        <!--/MdMN03Item-->
    </div>
</li>