<div role="dialog" data-type="action" class="wrap_friend_context_menu">
    <header>{{printName}}</header> <!-- this header is optional -->
    <menu type="toolbar">
        <button data-action="changeName-{{mid}}"><%= TITLE_CHANGE_NAME %></button>
        <button data-action="chat-{{mid}}"><%= CHAT %></button>
        <button data-action="block-{{mid}}"><%= BLOCK %></button>
        <button data-action="hide-{{mid}}"><%= HIDE_MENU_TEXT %></button>
        <button data-action="cancel-{{mid}}"><%= CANCEL %></button>
    </menu>
</div>