<li data-id="{{id}}" class="mdMN02Li {{#isNew}}mdMN02New{{/isNew}}" data-pressed-class="ExTap">
    <div class="MdMN03Item mdMN03Group">
        <div class="mdMN03Thumb"><img src="{{thumbnail}}" data-url="{{thumbnail}}" alt="{{name}}" width="56" height="56"></div>
        <div class="mdMN03Txt">
            <h3 class="mdMN03Head">
                <span class="mdMN03HeadTtl">{{name}}</span>
                <span class="MdIcoNum01">{{members.length}}</span></h3>
        </div>
        <!--/MdMN03Item--></div>

</li>