<div class="mdLYR04Progress">
    <p class="mdLYR04Lavel" id="_wrap_text"><span id="_percent_txt">0</span>%</p>
    <div class="mdLYR04Meter"><span id="_percent_graph" style="width: 1%"></span></div>
</div>