<!--MAIN-FRAME-->
<div class="_about_line_view LyMain" role="main">

    <section>
        <ul class="MdMN15List">
            <li><div class="mdMN15Tbl01"><div class="mdMN15Cell"><%= CURRENT_VERSION %></div><div class="mdMN15Cell">{{version}} {{phase}}</div></div></li>
<!--/MdMN15List--></ul>

<ul class="MdMN15List">
    <li data-pressed-class="ExTap" data-name="SETTING_TERMS_OF_SERVICE"><a class="mdMN15Tbl01" href="#"><div class="mdMN15Cell"><%= TERMS_OF_SERVICE %></div></a></li>
    <li data-pressed-class="ExTap" data-name="SETTING_PRIVACY_POLICY"><a class="mdMN15Tbl01" href="#"><div class="mdMN15Cell"><%= PRIVACY_POLICY %></div></a></li>
    <li data-pressed-class="ExTap" data-name="SETTING_LEGAL_NOTICES"><a class="mdMN15Tbl01" href="#"><div class="mdMN15Cell"><%= SETTING_OSS_LICENCE %></div></a></li>
    <!--/MdMN15List--></ul>
</section>

<!--/LyMain--></div>
<!--/MAIN-FRAME-->
