<!--MAIN-FRAME-->
<div class="_friends_list LyMain" role="main">

    <section>
        <ul class="MdMN15List">
            <li data-name="invite_friends" data-pressed-class="ExTap"><a class="mdMN15Tbl01" href="#"><div class="mdMN15Cell"><%= INVITE_FRIENDS %></div></a></li>
            <!--/MdMN15List--></ul>

        <ul class="MdMN15List">
            <li data-name="hidden_list" data-pressed-class="ExTap"><a class="mdMN15Tbl01" href="#"><div class="mdMN15Cell"><%= HIDDEN_USER_SETTING_TITLE %></div></a></li>
            <li data-name="block_list" data-pressed-class="ExTap"><a class="mdMN15Tbl01" href="#"><div class="mdMN15Cell"><%= BLOCKED_USER_SETTING_TITLE %></div></a></li>
            <!--/MdMN15List--></ul>
    </section>

    <!--/LyMain--></div>
<!--/MAIN-FRAME-->
