<!--div class="_help_view">
    <iframe src="http://naver.com/{{lang}}" style="width:100%;height:300px;" frameborder="0" scrolling="yes" mozbrowser remote></iframe>
</div-->

<div class="_help_view LyMain" role="main">

    <section>
        <div class="MdMN16Terms mdMN16Legal">
        THE FOLLOWING SETS FORTH ATTRIBUTION NOTICES FOR THIRD PARTY SOFTWARE THAT MAY BE CONTAINED IN THIS APPLICATION.<br>
        <br>
        =====<br>

        The following software may be included in this application: requirejs from https://github.com/jrburke/requirejs<br>
        This software contains the following license and notice below:<br>
        <br>
        Copyright (c) 2010-2013, The Dojo Foundation<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining a copy<br>
        of this software and associated documentation files (the "Software"), to deal<br>
        in the Software without restriction, including without limitation the rights<br>
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
        copies of the Software, and to permit persons to whom the Software is<br>
        furnished to do so, subject to the following conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be included in<br>
        all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN<br>
        THE SOFTWARE.<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: js-base64 from https://github.com/dankogai/js-base64<br>
        This software contains the following license and notice below:<br>
        <br>
        /*<br>
        * $Id: base64.js,v 2.12 2013/05/06 07:54:20 dankogai Exp dankogai $<br>
        *<br>
        *  Licensed under the MIT license.<br>
        *    http://opensource.org/licenses/mit-license<br>
        *<br>
        *  References:<br>
        *    http://en.wikipedia.org/wiki/Base64<br>
        */<br>
        <br>
        Author: Dan Kogai (dankogai+github@gmail.com)<br>

        Permission is hereby granted, free of charge, to any person obtaining a copy<br>
        of this software and associated documentation files (the "Software"), to deal<br>
        in the Software without restriction, including without limitation the rights<br>
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
        copies of the Software, and to permit persons to whom the Software is<br>
        furnished to do so, subject to the following conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be included in<br>
        all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN<br>
        THE SOFTWARE.<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: JavaScript MD5 from http://pajhome.org.uk/crypt/md5/<br>
        This software contains the following license and notice below:<br>
        <br>
        /*<br>
        * A JavaScript implementation of the RSA Data Security, Inc. MD5 Message<br>
        * Digest Algorithm, as defined in RFC 1321.<br>
        * Copyright (C) Paul Johnston 1999 - 2000.<br>
        * Updated by Greg Holt 2000 - 2001.<br>
        * See http://pajhome.org.uk/site/legal.html for details.<br>
        */<br>
        <br>
        Copyright (c) 1998 - 2009, Paul Johnston & Contributors<br>
        All rights reserved.<br>
        <br>
        Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:<br>
        <br>
        Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.<br>
        <br>
        Neither the name of the author nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.<br>

        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br>
        <br>
        The JavaScript code implementing the algorithm is derived from the C code in RFC 1321 and is covered by the following copyright:<br>
        <br>
        License to copy and use this software is granted provided that it is identified as the "RSA Data Security, Inc. MD5 Message-Digest Algorithm" in all material mentioning or referencing this software or this function.<br>
        <br>
        License is also granted to make and use derivative works provided that such works are identified as "derived from the RSA Data Security, Inc. MD5 Message-Digest Algorithm" in all material mentioning or referencing the derived work.<br>
        <br>
        RSA Data Security, Inc. makes no representations concerning either the merchantability of this software or the suitability of this software for any particular purpose. It is provided "as is" without express or implied warranty of any kind.<br>
        <br>
        These notices must be retained in any copies of any part of this documentation and/or software.<br>
        <br>
        This copyright does not prohibit distribution of the JavaScript MD5 code under the BSD license.<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: crypto-js from https://code.google.com/p/crypto-js/<br>
        This software contains the following license and notice below:<br>
        <br>
        Copyright (c) 2009-2013 Jeff Mott<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: jquery-i18n-properties from https://code.google.com/p/jquery-i18n-properties/<br>
        This software contains the following license and notice below:<br>
        <br>
        /*******************************<br>
        * jquery.i18n.properties<br>
        *<br>
        * Dual licensed under the GPL (http://dev.jquery.com/browser/trunk/jquery/GPL-LICENSE.txt) and<br>
        * MIT (http://dev.jquery.com/browser/trunk/jquery/MIT-LICENSE.txt) licenses.<br>
        *<br>
        * @version     1.1.x<br>
        * @author      Nuno Fernandes<br>
        *              Matthew Lohbihler<br>
        * @url         www.codingwithcoffee.com<br>
        * @inspiration Localisation assistance for jQuery (http://keith-wood.name/localisation.html)<br>
        *              by Keith Wood (kbwood{at}iinet.com.au) June 2007<br>
        *<br>
        /*******************************<br>
        <br>
        Copyright 2013 jQuery Foundation and other contributors<br>
        http://jquery.com/<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining<br>
        a copy of this software and associated documentation files (the<br>
        "Software"), to deal in the Software without restriction, including<br>
        without limitation the rights to use, copy, modify, merge, publish,<br>
        distribute, sublicense, and/or sell copies of the Software, and to<br>
        permit persons to whom the Software is furnished to do so, subject to<br>
        the following conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be<br>
        included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,<br>
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF<br>
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND<br>
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE<br>
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION<br>
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION<br>
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: mustache.js from https://github.com/janl/mustache.js<br>
        This software contains the following license and notice below:<br>
        <br>
        Copyright (c) 2009 Chris Wanstrath (Ruby)<br>
        Copyright (c) 2010 Jan Lehnardt (JavaScript)<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
        <br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: RSA and ECC in JavaScript from http://www-cs-students.stanford.edu/~tjw/jsbn/<br>
        This software contains the following license and notice below:<br>
        <br>
        /*<br>
        * Copyright (c) 2003-2005  Tom Wu<br>
        * All Rights Reserved.<br>
        *<br>
        * Permission is hereby granted, free of charge, to any person obtaining<br>
        * a copy of this software and associated documentation files (the<br>
        * "Software"), to deal in the Software without restriction, including<br>
        * without limitation the rights to use, copy, modify, merge, publish,<br>
        * distribute, sublicense, and/or sell copies of the Software, and to<br>
        * permit persons to whom the Software is furnished to do so, subject to<br>
        * the following conditions:<br>
        *<br>
        * The above copyright notice and this permission notice shall be<br>
        * included in all copies or substantial portions of the Software.<br>
        *<br>
        * THE SOFTWARE IS PROVIDED "AS-IS" AND WITHOUT WARRANTY OF ANY KIND,<br>
        * EXPRESS, IMPLIED OR OTHERWISE, INCLUDING WITHOUT LIMITATION, ANY<br>
        * WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.<br>
        *<br>
        * IN NO EVENT SHALL TOM WU BE LIABLE FOR ANY SPECIAL, INCIDENTAL,<br>
        * INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER<br>
        * RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT ADVISED OF<br>
        * THE POSSIBILITY OF DAMAGE, AND ON ANY THEORY OF LIABILITY, ARISING OUT<br>
        * OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.<br>
        *<br>
        * In addition, the following condition applies:<br>
        *<br>
        * All redistributions must retain an intact copy of this copyright notice<br>
        * and disclaimer.<br>
        */<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: SimpleDateFormatJS from https://github.com/noahcooper/SimpleDateFormatjs<br>
        This software contains the following license and notice below:<br>
        <br>
        /*<br>
        * SimpleDateFormat for JavaScript - https://github.com/noahcooper/SimpleDateFormatJS<br>
        * Copyright (c) 2013 Noah Cooper (noah.cooper@hotmail.com)<br>
        * Dual licensed under MIT and GPL licenses (http://projects.iamnoahcooper.com/license)<br>
        * Version: 1.3 (25-JUL-2013)<br>
        *<br>
        * Based on the SimpleDateFormat Java class<br>
        * (http://docs.oracle.com/javase/6/docs/api/java/text/SimpleDateFormat.html)<br>
        */<br>
        <br>
        Copyright (c) 2013 Noah Cooper (noah.cooper@hotmail.com)<br>
        <br>
        Permission is hereby granted, free of charge, to any person<br>
        obtaining a copy of this software and associated documentation<br>
        files (the "Software"), to deal in the Software without<br>
        restriction, including without limitation the rights to use,<br>
        copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
        copies of the Software, and to permit persons to whom the<br>
        Software is furnished to do so, subject to the following<br>
        conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be<br>
        included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,<br>
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES<br>
        OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND<br>
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT<br>
        HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,<br>
        WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING<br>
        FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR<br>
        OTHER DEALINGS IN THE SOFTWARE.<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: Underscore.js from http://underscorejs.org/<br>
        This software contains the following license and notice below:<br>
        <br>
        Copyright (c) 2009-2013 Jeremy Ashkenas, DocumentCloud and Investigative<br>
        Reporters & Editors<br>
        <br>
        Permission is hereby granted, free of charge, to any person<br>
        obtaining a copy of this software and associated documentation<br>
        files (the "Software"), to deal in the Software without<br>
        restriction, including without limitation the rights to use,<br>
        copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
        copies of the Software, and to permit persons to whom the<br>
        Software is furnished to do so, subject to the following<br>
        conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be<br>
        included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,<br>
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES<br>
        OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND<br>
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT<br>
        HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,<br>
        WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING<br>
        FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR<br>
        OTHER DEALINGS IN THE SOFTWARE.<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: Zepto.js from http://zeptojs.com/<br>
        This software contains the following license and notice below:<br>
        <br>
        Copyright (c) 2010-2014 Thomas Fuchs<br>
        http://zeptojs.com/<br>
        <br>
        Permission is hereby granted, free of charge, to any person obtaining<br>
        a copy of this software and associated documentation files (the<br>
        "Software"), to deal in the Software without restriction, including<br>
        without limitation the rights to use, copy, modify, merge, publish,<br>
        distribute, sublicense, and/or sell copies of the Software, and to<br>
        permit persons to whom the Software is furnished to do so, subject to<br>
        the following conditions:<br>
        <br>
        The above copyright notice and this permission notice shall be<br>
        included in all copies or substantial portions of the Software.<br>
        <br>
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,<br>
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF<br>
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND<br>
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE<br>
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION<br>
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION<br>
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.<br>
        <br>
        =====<br>
        <br>
        The following software may be included in this application: Apache Thrift from http://thrift.apache.org/<br>
        This software contains the following license and notice below:<br>
        <br>
        Copyright 2012 Apache Software Foundation.<br>
        <br>
        Licensed under the Apache License, Version 2.0 (the "License");<br>
        you may not use this file except in compliance with the License.<br>
        You may obtain a copy of the License at<br>
        <br>
        http://www.apache.org/licenses/LICENSE-2.0<br>
        <br>
        Unless required by applicable law or agreed to in writing, software<br>
        distributed under the License is distributed on an "AS IS" BASIS,<br>
        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.<br>
        See the License for the specific language governing permissions and<br>
        limitations under the License.<br>
        <br>
        =====
        </div>
    </section>
</div>