<form role="dialog" data-type="confirm" class="_alert_ui">
    <section>
        <h1><%= TITLE_CONFIRM %></h1>
        <p>{{{message}}}</p>
    </section>
    <menu>
        <button class="_btn_confirm {{button.class}}">{{button.label}}</button>
    </menu>
</form>